.local/src/dwm/drw.o
.local/src/dwm/dwm
.local/src/dwm/dwm-msg
.local/src/dwm/dwm.o
.local/src/dwm/util.o
.config/calcure/events.csv
.config/calcure/info.log
.config/calcure/tasks.csv
.config/eww/dash
*.old*