/** Global *******************************************/
*{
	all: unset;
	font-family: "JetBrains Mono NFM";
}

/** Background ***************************************/
.bg {
	background-color: #474D59;
	opacity: 1;
}

/** Generic window ***********************************/
.genwin {
	background-color: #2E3440;
	border-radius: 16px;
}

/** Profile ******************************************/
.face {
	background-size: 200px;
	min-height: 200px;
	min-width: 200px;
	margin: 65px 0px 0px 0px;
	border-radius: 100%;
}

.fullname {
	color: #D46389;
	font-size : 30px;
	font-weight : bold;
}

.username {
	color: #8FBCBB;
	font-size : 22px;
	font-weight : bold;
	margin : -15px 0px 0px 0px;
}

/** System ********************************************/
.iconcpu, .iconmem, .iconbright, .iconbat {
	font-size : 32px;
	font-weight : normal;
}
.iconcpu {
	color: #BF616A;
}
.iconmem {
	color: #A3BE8C;
}
.iconbright {
	color: #EBCB8B;
}
.iconbat {
	color: #88C0D0;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 16px;
	min-height: 28px;
	min-width: 240px;
}

.cpu_bar, .mem_bar, .bright_bar, .bat_bar, scale trough highlight {
	all: unset;
	border-radius: 16px;
}

.cpu_bar scale trough highlight {
	background-color: #BF616A;
}
.mem_bar scale trough highlight {
	background-color: #A3BE8C;
}
.bright_bar scale trough highlight {
	background-color: #EBCB8B;
}
.bat_bar scale trough highlight {
	background-color: #88C0D0;
}

/** Clock ********************************************/
.time_hour, .time_min {
	color: #81A1C1;
	font-size : 65px;
	font-weight : bold;
}
.time_hour {
	margin : 15px 0px 0px 20px;
}
.time_min {
	margin : 0px 0px 10px 0px;
}

.time_mer {
	color: #A3BE8C;
	font-size : 40px;
	font-weight : bold;
	margin : 15px 0px 0px -40px;
}

.time_day {
	color: #EBCB8B;
	font-size : 28px;
	font-weight : normal;
	margin : 0px 0px 20px -40px;
}

/** Uptime ********************************************/
.icontimer {
	color: #B48EAD;
	font-size : 90px;
	font-weight : normal;
}

.uphour {
	color: #E5E9F0;
	font-size : 42px;
	font-weight : bold;
}

.upmin {
	color: #E5E9F0;
	font-size : 32px;
	font-weight : bold;
}

/** Music ***************************************/
.song {
	color: #8FBCBB;
	font-size : 28px;
	font-weight : bold;
	margin : 20px 0px 0px 0px;
}

.artist {
	color: #EBCB8B;
	font-size : 22px;
	font-weight : normal;
	margin : 0px 0px 15px 0px;
}

.btn_prev {
	color: #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}
.btn_play {
	color: #A3BE8C;
	font-size : 48px;
	font-weight : bold;
}
.btn_next {
	color: #EBCB8B;
	font-size : 32px;
	font-weight : normal;
}

.music_bar scale trough highlight {
	all: unset;
	background-color: #B48EAD;
	border-radius: 8px;
}
.music_bar scale trough {
	all: unset;
	background-color: #3A404C;
	border-radius: 8px;
	min-height: 20px;
	min-width: 310px;
	margin : 10px 0px 0px 0px;
}

/** Weather ***************************************/
.iconweather {
	font-size : 120px;
	font-weight : normal;
	margin : 30px 0px 0px 30px;
}

.label_temp {
	color : #A6D1DD;
	font-size : 80px;
	font-weight : bold;
	margin : -15px 30px 0px 0px;
}

.label_stat {
	color : #BF616A;
	font-size : 38px;
	font-weight : bold;
}

.label_quote {
	color : #E5E5E5;
	font-size : 18px;
	font-weight : normal;
}

/** Applications ***************************************/
.appbox {
	margin : 15px 0px 0px 25px;
}

.app_fox, .app_telegram, .app_discord, .app_terminal,
.app_files, .app_geanyw, .app_code, .app_gimp, .app_vbox {
    background-repeat: no-repeat;
	background-size: 64px;
	min-height: 64px;
	min-width: 64px;
	margin: 8px 8px 0px 8px;
}

.app_fox {}
.app_telegram {}
.app_discord {}
.app_terminal {}
.app_files {}
.app_geany {}
.app_code {}
.app_gimp {}
.app_vbox {}

/** Power buttons ***************************************/
.btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 88px;
	font-weight : bold;
}

.btn_logout {
	color: #BF616A;
}
.btn_sleep {
	font-size: 98px;
	color: #A3BE8C;
}
.btn_reboot {
	color: #EBCB8B;
}
.btn_poweroff {
	color: #88C0D0;
}

/** Home folders ***************************************/
.hddbox {
	background-color: #3A404C;
	border-radius: 10px;
	margin : 15px;
}
.hddicon {
	color: #81A1C1;
	font-size : 70px;
	font-weight : normal;
	margin : 25px 20px 25px 40px;
}
.hdd_label {
	color: #E5E9F0;
	font-size : 48px;
	font-weight : bold;
	margin : 0px 0px 0px 15px;
}
.wifi_label {
        color: #E5E9F0;
        font-size : 28px;
        font-weight : bold;
        margin : 0px 0px 0px 15px;
}
.wifiicon {
        color: #81A1C1;
        font-size : 70px;
        font-weight : normal;
        margin : 25px 20px 25px 40px;
}
.fs_sep {
	color: #2E3440;
	font-size : 36px;
	font-weight : bold;
}

/** Quote ***********************************************/
.quote-main, .quote-tail {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 20px 0px 20px;
  color: #A5B3C0;
}
.quote-author {
  font-size: 18px;
  margin: 0px 30px 20px 0px;
  color: #84AFDB;
}

/** EOF *************************************************/
